.oldBody
{
    width:100%;
    height: 0px;
    background-color: navy;
    margin-top:25px;
}

#banner 
{
    position:fixed; 
    top:0px; 
    background-color:#FFFFFF; 
    width:100%; 
    height:25px; 
    border:2px solid; 
    z-index:10000;
}